<p id="notice"><%= notice %></p>

<p>
  <strong>Armaments:</strong>
  <%= @material_reserve_has_armament.armaments %>
</p>

<p>
  <strong>Material reserve:</strong>
  <%= @material_reserve_has_armament.material_reserve %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @material_reserve_has_armament.amount %>
</p>

<%= link_to 'Edit', edit_material_reserve_has_armament_path(@material_reserve_has_armament) %> |
<%= link_to 'Back', material_reserve_has_armaments_path %>
