<%= form_with(model: ammunition, local: true) do |form| %>
  <% if ammunition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ammunition.errors.count, "error") %> prohibited this ammunition from being saved:</h2>

      <ul>
      <% ammunition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :caliber %>
    <%= form.text_field :caliber, id: :ammunition_caliber %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :ammunition_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
