<%= form_with(model: ammunition, :html => {:class => "gt-form off-xs-3 xs-6"}, local: true) do |form| %>
  <%= form_errors_for form.object %>

  <%= form.label :caliber %>
  <%= form.text_field :caliber, id: :ammunition_caliber %>


  <%= form.label :description %>
  <%= form.text_field :description, id: :ammunition_description %>

  <div class="actions">
      <%= link_to 'Voltar', ammunitions_path, :class => "btn" %>
      <%= form.submit 'Enviar', :class => "btn success" %>
  </div>
<% end %>
