<p id="notice"><%= notice %></p>

<h1>Ammunitions</h1>

<table>
  <thead>
    <tr>
      <th>Caliber</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="text-center">
    <% @ammunitions.each do |ammunition| %>
      <tr>
        <td><%= ammunition.caliber %></td>
        <td><%= ammunition.description %></td>
        <td><%= link_to 'Show', ammunition %></td>
        <td><%= link_to 'Edit', edit_ammunition_path(ammunition) %></td>
        <td><%= link_to 'Destroy', ammunition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ammunition', new_ammunition_path %>
