<%= form_for(:session, url: login_path, :html => {:class => "gt-form off-xs-3 xs-6"} ) do |f| %>
    <%= form_errors_for f.object  %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.submit "Log in", class: "btn btn-primary" %>
    <p> Não tem uma conta? <%= link_to 'Cadastre-se', new_user_path %></p>

<% end %>
