<%= form_with(model: reserf, :html => {:class => "gt-form off-xs-3 xs-6"}, local: true) do |form| %>
  <%= form_errors_for form.object %>

  <%= form.label :initials %>
  <%= form.text_field :initials, id: :reserf_initials %>

  <%= form.label :description %>
  <%= form.text_field :description, id: :reserf_description %>

  <%= form.label :material_reserve_id %>
  <%= form.text_field :material_reserve_id, id: :reserf_material_reserve_id %>

  <div class="actions">
    <%= link_to 'Voltar', reserves_path, :class => "btn" %>
    <%= form.submit 'Enviar', :class => "btn success" %>
  </div>
<% end %>
