<p id="notice"><%= notice %></p>

<h1>Reserves</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Initials</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserves.each do |reserve| %>
      <tr>
        <td><%= reserve.id %></td>
        <td><%= reserve.initials %></td>
        <td><%= reserve.description %></td>
        <td><%= link_to 'Show', reserve %></td>
        <td><%= link_to 'Edit', edit_reserf_path(reserve) %></td>
        <td><%= link_to 'Destroy', reserve, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reserve', new_reserf_path %>
