<%= form_with(model: material_reserve_has_ammunition, :html => {:class => "gt-form off-xs-3 xs-6"}, local: true) do |form| %>
  <%= form_errors_for form.object %>

  <%= form.label :material_reserve_id %>
  <%= form.text_field :material_reserve_id, id: :material_reserve_has_ammunition_material_reserve_id %>

  <%= form.label :ammunition_id %>
  <%= form.text_field :ammunition_id, id: :material_reserve_has_ammunition_ammunition_id %>

  <%= form.label :amount %>
  <%= form.number_field :amount, id: :material_reserve_has_ammunition_amount %>

  <div class="actions">
      <%= link_to 'Voltar', material_reserve_has_ammunitions, :class => "btn" %>
      <%= form.submit 'Enviar', :class => "btn success" %>
  </div>
<% end %>
