<%= form_with(model: user, :html => {:class => "gt-form off-xs-3 xs-6"}, local: true) do |form| %>
    <%= form_errors_for form.object  %>

    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>

    <%= form.label :login %>
    <%= form.text_field :login, id: :user_login %>

    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>

    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password %>

  <div class="actions">
      <%= link_to 'Voltar', users_path, :class => "btn" %>
      <%= form.submit 'Enviar', :class => "btn success" %>
  </div>
<% end %>
