<% content_for :title, "Usuários" %>

<div class="off-xs-3 xs-6 text-center">
    <div class="padding">
        <p>
            <strong>Email:</strong>
            <%= @user.email %>
        </p>

        <p>
            <strong>Login:</strong>
            <%= @user.login %>
        </p>

        <p>
            <strong>Name:</strong>
            <%= @user.name %>
        </p>

        <%= link_to 'Voltar', users_path, :class => "btn" %>
        <%= link_to 'Edit', edit_user_path(@user), :class => "btn success" %>
    </div>
</div>
