<%= form_with(model: soldier, :html => {:class => "gt-form off-xs-3 xs-6"}, local: true) do |form| %>
  <%= form_errors_for form.object %>

  <%= form.label :graduation %>
  <%= form.text_field :graduation, id: :soldier_graduation %>

  <%= form.label :war_name %>
  <%= form.text_field :war_name, id: :soldier_war_name %>

  <%= form.label :user_id %>
  <%= form.text_field :user_id, id: :soldier_user_id %>

  <div class="actions">
    <%= link_to 'Voltar', soldiers_path, :class => "btn" %>
    <%= form.submit 'Enviar', :class => "btn success" %>
  </div>
<% end %>
