<%= form_with(model: soldier, local: true) do |form| %>
  <% if soldier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(soldier.errors.count, "error") %> prohibited this soldier from being saved:</h2>

      <ul>
      <% soldier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :graduation %>
    <%= form.text_field :graduation, id: :soldier_graduation %>
  </div>

  <div class="field">
    <%= form.label :war_name %>
    <%= form.text_field :war_name, id: :soldier_war_name %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :soldier_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
