<%= form_for [@reserve, @loan] do |form| %>
  <%= form_errors_for form.object  %>

  <div class="field">
    <%= form.label :material_reserve_id %>
    <select id = "car_type", name="car_type">
      <%= options_from_collection_for_select @materials_reserve, 'id', 'id' %>
    <select>
  </div>

  <div class="field">
    <%= form.label :ammunition_id %>
    <%= form.text_field :ammunition_id, id: :loan_ammunition_id %>
  </div>

  <div class="field">
    <%= form.label :armaments_id %>
    <%= form.text_field :armaments_id, id: :loan_armaments_id %>
  </div>

  <div class="field">
    <%= form.label :accessories_id %>
    <%= form.text_field :accessories_id, id: :loan_accessories_id %>
  </div>

  <div class="field">
    <%= form.label :ammunition_amount %>
    <%= form.number_field :ammunition_amount, id: :loan_ammunition_amount %>
  </div>

  <div class="field">
    <%= form.label :armaments_amount %>
    <%= form.number_field :armaments_amount, id: :loan_armaments_amount %>
  </div>

  <div class="field">
    <%= form.label :accessories_amount %>
    <%= form.number_field :accessories_amount, id: :loan_accessories_amount %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :loan_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
