<%= form_with(model: material_reserve_has_accessory, :html => {:class => "gt-form off-xs-3 xs-6"}, local: true) do |form| %>
  <%= form_errors_for form.object %>

  <%= form.label :material_reserve_id %>
  <%= form.text_field :material_reserve_id, id: :material_reserve_has_accessory_material_reserve_id %>

  <%= form.label :accessories_id %>
  <%= form.text_field :accessories_id, id: :material_reserve_has_accessory_accessories_id %>

  <%= form.label :amount %>
  <%= form.number_field :amount, id: :material_reserve_has_accessory_amount %>

  <div class="actions">
      <%= link_to 'Voltar', material_reserve_has_accessories, :class => "btn" %>
      <%= form.submit 'Enviar', :class => "btn success" %>
  </div>
<% end %>
