<%= form_with(model: armament, :html => {:class => "gt-form off-xs-3 xs-6"},local: true) do |form| %>
  <%= form_errors_for form.object  %>

  <%= form.label :serial_number %>
  <%= form.number_field :serial_number, id: :armament_serial_number %>

  <%= form.label :manufacturer %>
  <%= form.text_field :manufacturer, id: :armament_manufacturer %>

  <div class="actions">
      <%= link_to 'Voltar', armaments_path, :class => "btn" %>
      <%= form.submit 'Enviar', :class => "btn success" %>
  </div>
<% end %>
