<% content_for :title, "Armamentos" %>

<% unless notice.blank? %>
    <div class="success padding" >
        <p id="notice"><%= notice %></p>
    </div>
<% end %>

<div class="off-xs-3 xs-6 text-center">
    <div class="padding">
        <p>
          <strong>Serial number:</strong>
          <%= @armament.serial_number %>
        </p>

        <p>
          <strong>Manufacturer:</strong>
          <%= @armament.manufacturer %>
        </p>

        <%= link_to 'Voltar', armaments_path, :class => "btn"  %>
        <%= link_to 'Editar', edit_armament_path(@armament), :class => "btn success"  %>
    </div>
</div>
