<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | SGA</title>
    <%= csrf_meta_tags %>

    <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <%= stylesheet_link_tag "gaintime.min" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "gaintime.min" %>
  </head>

  <body>
      <!-- Logged in header -->
        <% if logged_in? %>
            <header class="gt-top-menu xs-left">
                <%= image_tag("/images/logominblack.png", :alt => "logo") %>
                <label class="menu-toggle">
                    <svg viewBox="0 0 24 24">
                        <path fill="#333" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"></path>
                    </svg>
                </label>

                <nav>
                    <ul>
                        <%= link_to root_path do %>
                            <li>Início</li>
                        <% end %>
                        <%= link_to users_path do %>
                            <li>Usuários</li>
                        <% end %>
                        <%= link_to armaments_path do %>
                            <li>Armamentos</li>
                        <% end %>
                        <%= link_to ammunitions_path do %>
                            <li>Munições</li>
                        <% end %>
                        <%= link_to accessories_path do %>
                            <li>Acessórios</li>
                        <% end %>
                        <a rel="nofollow" data-method="delete" href="/logout"><li>Sair</li></a>
                    </ul>
                </nav>
            </header>
     <% end %>

     <!-- Application errors and messages -->
     <% unless flash[:success].blank? %>
         <div class="msg success">
            <button type="button" class="close"></button>
            <p> <%= flash[:success] %> </p>
        </div>
    <% end %>
    <% unless flash[:error].blank? %>
        <div class="msg danger">
            <button type="button" class="close"></button>
            <p> <%= flash[:error] %> </p>
        </div>
    <% end %>
    <%= yield :form_errors %>

    <!-- Main content -->
    <section>
        <%= yield %>
    </section>

  </body>
</html>
